*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #17174F;
    color: #f5f6f7;
}

img{
    width: 120px;
    height: 120px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.title h2{
    font-size: 18px;
    font-weight: none;
}

p{
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight:800
}

form {
    width: 100%;
}

fieldset {
    padding: 2rem;
    margin: 10px auto 0px auto;
    width: 80%;
}

input, select{
    width: 16rem;
    height: 30px;
    background-color: #C7FFFF;
    border-radius: 5px;
    padding: .25rem .5rem;
    margin-top: .25rem;
    color: #17174F;
}

select{
    height: 42px;
    width: 15.25rem;
}

legend{
    font-weight: 600;
    font-size: 20px;
    gap: 10px;
}

.gender input, .info input {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.gender label{
    display: block;
    width: 100%;
}

.gender .radio{
    margin-top: .25rem;
    display: flex;
    justify-content: space-between;
}

.name, .address, .contact, .education{
    display: grid;
    row-gap: 2rem;
    column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    font-size: 19px;
}

.birth{
    display: flex;
    gap: 40px;
    font-size: 19px;
}

.skills textarea{
    width: 300px;
    height: 500px;
    cursor: not-allowed;
    background-color: #C7FFFF;
}

.info{
    font-size: 19px;
}

.pursuant p{
    margin: 20px 0 20px 0;
}

.info .radio{
    margin: 1rem;
}

.button{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.button input{
    font-size: 19px;
    color: #17174F;
    
}